cache.db*
Cargo.lock
ow01/static/*
ro1/cache_sample.db
mpush/_config.json
mpush/meili_config.json
*/target/*
*.db
target/rust-analyzer/*
mpush/mconfig.json
pw.txt
*.7z
ro1/sampleout.json
testaya2/.cargo/*
testaya2/target/*